.App {
  text-align: center;
  padding: 10px;
}

.custom-shape-divider-bottom-1601546614 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1601546614 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 95px;
}

.custom-shape-divider-bottom-1601546614 .shape-fill {
  fill: #ffffff;
}

.app-header {
  color: rgb(255, 255, 255);
  font-weight: 900;
  font-size: 15vh;
  margin-top: 20px;
  font: outline;
}

.input-form {
  margin: 10.5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.enter-url {
  border-radius: 2em;
  border: solid 1px #1b9be5c4;
  width: 35vw;
  height: 6vh;
  outline: none;
  text-align: center;
  text-decoration: whitesmoke;
}

.enter-url,
select {
  font-size: 15px;
  color: #003f63c4;
  font-weight: 700;
}
.submit-button {
  margin-left: 2px;
  border-radius: 2em;
  width: 10vw;
  height: 6vh;
  outline: none;
  background: #f79e02;
  border: 1px solid #df8d01;
  cursor: pointer;
  color: white;
  font-size: 1.2em;
  letter-spacing: 0.05em;
  font-weight: 900;
}

.submit-button:hover {
  background: #fcb842;
  border: 1px solid #f79e02;
}
